
html, body {
  margin: 0px;
  padding: 0px 10px;
  border: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 24px;
  width: auto;
  background-color: #F7F7F8;
  
}

div {
	margin-top: 10px;
}

#logo {
	height: 100px;
	width: 100px;
}

#header {
	margin-top: 10px;
}

.section-container {	
	margin-top: 50px;

}

.project {
	margin-top: 10px;
}